[Unit]
Description=Prometheus node exporter

[Service]
Type=simple
Restart=always
RestartSec=60s
TimeoutStartSec=20
WorkingDirectory={{ node_exporter_dir }}
ExecStart={{ node_exporter_dir }}/node_exporter
User={{ node_exporter_user }}

[Install]
WantedBy=multi-user.target